@charset "UTF-8";
body {
	background: #4E5869;
	margin: 0;
	padding: 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5 em;
	line-height: 2.4 em;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}
a:link {
	color:#414958;
	text-decoration: underline;
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background: #FFF;
	margin: 0 auto;
}
.header {
	background: #6F7D94;
	padding: 10px;
}
.header a:link, a:visited {
	text-decoration: none;
	color: #000000;
}
.content {
	padding: 10px 0;
}
.content ul, .content ol { 
	padding: 0 15px 15px 40px;
	list-style-type: none;
}
.content li {
	margin: 1em;
}
.content .datatype_label {
	
}
.content .property {
	display: block;
	font-size: 0.6em;
}
.content .property_label {
	font-style: italic;
}
.content .property_value {
	
}
.content .preferred_prefix {
	font-style: italic;
}
.footer {
	padding: 10px 0;
	background: #6F7D94;
	font-size: 0.7em;
	line-height: 1.4em;
}
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
